@font-face {
    font-family: custom;
    src: url('./MAX.ttf');
}

body {
  margin:  0;
  padding:  0;
  background-color: #F8F8F8;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
